{% extends 'base.html' %}

{% block content %}
     <div class="container" style="display: flex; flex-direction: row; margin-top: 30px">
        <img src="{{ product.image.url }}" class="img-thumbnail" style="max-height: 600px; max-width: 600px; margin-top: 10px" alt="...">
        <div class="content" style="margin-left: 30px;">
            <h2 class="display 6" style="text-align: left; font-weight: 200; font-size: 20px;">
                <a href="{% url 'all-categories' %}">Все категории</a> // <a href="{% url 'category' pk=product.category.pk %}">{{ product.category }}</a> // <span style="font-weight: 500" >{{ product.title }}</span>
            </h2>
            <p class="description" style="margin-top: 10px; font-size: 20px">
                {{ product.description }}
            </p>

            <p class="description" style="margin-top: 10px; font-size: 35px">
                цена: <strong class="product-price">{{ product.actual_price }}</strong> P
            </p>
                <form action="{% url 'make-discount' id=product.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.new_price }}
                    <br>
                    <label for="{{ form.make_discount.id_for_label }}">Сделать скидку</label>
                    {{ form.make_discount }}
                    <br>
                    <button type="submit" class="btn btn-primary" style="margin-top: auto">Применить</button>
                </form>
        </div>


    </div>

{% endblock %}