{% extends 'base.html' %}

{% block content %}
        <div class="container" style="margin-top: 50px">
        {% if cart_products %}
            <form method="post" action="{% url "payment" %}">{% csrf_token %}
            <table class="table">
      <thead>
        <tr>
          <th scope="col">Наименование</th>
          <th scope="col">Изображение</th>
          <th scope="col">Цена</th>
          <th scope="col">Количество</th>
          <th scope="col">Общая цена</th>
        </tr>
      </thead>
      <tbody>

        {% for cart_product in cart_products %}
            <tr>
              <th scope="row"><a style="color: #212529" href="{% url 'detailedView' id=cart_product.product.pk %}">{{ cart_product.product.title }}</a></th>
              <td><a href="{% url 'detailedView' id=cart_product.product.pk %}"><img alt="NO IMAGE" src="{{ cart_product.product.image.url }}" style="max-width: 200px"/></a></td>
              <td class="product-price">{{ cart_product.product.actual_price }} ₽</td>
              <td>
                  {{ cart_product.qty }}
              </td>
              <td class="product-price">{{ cart_product.final_price }} ₽</td>
            </tr>
        {% endfor %}
        {{ form }}
        <tr>
            <td class="product-price"></td>
            <td class="product-price"></td>
            <td class="product-price" style=""></td>
            <td class="product-price" style="padding-left: 31px;font-weight: 800;">Всего товаров: {{ cart.total_product }}</td>
            <td class="product-price" style="margin-right: 70px;font-weight: 800"> Итого к оплате: {{ cart.final_price }} ₽</td>
        </tr>
          <tr>
            <td class="product-price"></td>
            <td class="product-price"></td>
            <td class="product-price"></td>
            <td class="product-price"></td>
            <td><button type="submit" class="btn bg-success text-white mt-3 ml-2">Оплатить</button></td>
        </tr>
      </tbody>
    </table>
    </form>
    {% else %}
        <h1 class="display-6" style="text-align: center; margin-top: 200px; margin-bottom: 330px;">Ваша корзина пуста! <br> Поэтому создать заказ невозможно</h1>
    {% endif %}
    </div>
{%  endblock %}